#!/usr/bin/make -f


export DEB_CFLAGS_MAINT_APPEND  = -fPIC
export DEB_LDFLAGS_MAINT_APPEND = -fPIC
export DEB_BUILD_MAINT_OPTIONS  = hardening=+all

override_dh_auto_configure:
	./bootstrap
	dh_auto_configure

# Ubuntu dbgsym.ddeb are currently not supported by reprepro
override_dh_strip:
	dh_strip --no-automatic-dbgsym

%:
	dh $@
