# Ignore mac hidden file
.DS_Store
# Ignore quilt cache directory
.pc/
#Ignore autoconf, automake and make results
*.o
I2util.spec
I2util/.deps/
I2util/Makefile
I2util/Makefile.in
I2util/config.h
I2util/config.h.in
I2util/libI2util.a
I2util/stamp-h.in
I2util/stamp-h1
Makefile
Makefile.in
aclocal.m4
aespasswd/.deps/
aespasswd/Makefile
aespasswd/Makefile.in
aespasswd/aespasswd
autom4te.cache/
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
config/test-driver
configure
doc/Makefile
doc/Makefile.in
pfstore/.deps/
pfstore/Makefile
pfstore/Makefile.in
pfstore/pfstore
test/.deps/
test/Makefile
test/Makefile.in
test/addrtest
test/addrtest.log
test/addrtest.trs
test/hmac-sha1test
test/hmac-sha1test.log
test/hmac-sha1test.trs
test/pbkdf2test
test/pbkdf2test.log
test/pbkdf2test.trs
test/pfstoretests.log
test/pfstoretests.trs
test/sha1test
test/sha1test.log
test/sha1test.trs
test/test-suite.log
