Source: i2util
Priority: optional
Maintainer: perfSONAR developers <debian@perfsonar.net>
Uploaders: Antoine Delvaux <antoine.delvaux@man.poznan.pl>
Build-Depends: debhelper (>= 10), automake, autoconf
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/perfsonar/i2util

Package: libi2util-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}
Description: Internet2 utility library (development files)
 I2utils is a small support library with a set of command line tools
 needed by several software projects from Internet2, most notably bwctl.
 .
 This is the development package which contains headers files and the
 static i2util library.

Package: i2util-tools
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: bwctl-server (<= 1.4.1~rc2-1)
Description: Internet2 utility tools
 I2utils is a small support library with a set of command line tools
 needed by several software projects from Internet2, most notably bwctl.
 .
 This package contains the command line tools.
